<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header class="main-header">
    <div class="header-content">
        <a href="/users"><h1 style="color: #dddddd">Users Administration</h1></a>
    </div>
    <div>
        <form method="POST" action="/logout" style="display:inline;">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit">Logout</button>
        </form>
    </div>
</header>
<main class="main-content"></main>