<%- include('../partials/header', { title: title }) %>

<div class="container">
    <h1>Add User</h1>

    <% if (typeof error !== 'undefined') { %>
        <div class="error"><%= error %></div>
    <% } %>

    <form action="/users" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label>First Name:</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label>Gender:</label>
            <select name="gender">
                <option value="" selected disabled>--Select--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div>
            <label>Birthdate:</label>
            <input type="date" name="birthdate">
        </div>
        <button type="submit">Create</button>
    </form>

    <a href="/users">Back to List</a>
</div>

